<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests) (2023.5.7)

## Imports

Import any additional libraries you may need here.

In [4]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [5]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=f398eb2b33c16670c0eb58e184d5b843"  #Make sure to change ******* to your API key
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1687675263,
 'base': 'EUR',
 'date': '2023-06-25',
 'rates': {'AED': 4.014963,
  'AFN': 93.254188,
  'ALL': 107.488721,
  'AMD': 420.038693,
  'ANG': 1.957948,
  'AOA': 868.4963,
  'ARS': 275.463714,
  'AUD': 1.636913,
  'AWG': 1.967634,
  'AZN': 1.862661,
  'BAM': 1.955049,
  'BBD': 2.193558,
  'BDT': 117.524867,
  'BGN': 1.962392,
  'BHD': 0.410442,
  'BIF': 3070.120983,
  'BMD': 1.09313,
  'BND': 1.469636,
  'BOB': 7.507117,
  'BRL': 5.228562,
  'BSD': 1.086383,
  'BTC': 3.5393098e-05,
  'BTN': 89.0564,
  'BWP': 14.592396,
  'BYN': 2.742147,
  'BYR': 21425.352035,
  'BZD': 2.189859,
  'CAD': 1.444408,
  'CDF': 2601.650285,
  'CHF': 0.980155,
  'CLF': 0.031834,
  'CLP': 874.034345,
  'CNY': 7.84857,
  'COP': 4454.18946,
  'CRC': 587.974201,
  'CUC': 1.09313,
  'CUP': 28.96795,
  'CVE': 110.227669,
  'CZK': 23.730877,
  'DJF': 193.425719,
  'DKK': 7.472205,
  'DOP': 59.877005,
  'DZD': 147.767253,
  'EGP': 33.640081,
  'ERN': 16.396953,
  'ETB': 59.247747,
  'EUR': 1,
  'FJD': 2.430302,
  'FKP': 0.860808,
  'GBP': 0.859785,
  'GEL': 2.869511,
  'GGP': 0.860808,
  'GHS': 12.537185,
  'GIP': 0.860808,
  'GMD': 65.04546,
  'GNF': 9340.413007,
  'GTQ': 8.517729,
  'GYD': 229.771761,
  'HKD': 8.559155,
  'HNL': 26.746728,
  'HRK': 7.625799,
  'HTG': 150.462218,
  'HUF': 371.413274,
  'IDR': 16446.471886,
  'ILS': 3.966997,
  'IMP': 0.860808,
  'INR': 89.620831,
  'IQD': 1423.153467,
  'IRR': 46212.079838,
  'ISK': 149.442252,
  'JEP': 0.860808,
  'JMD': 167.655615,
  'JOD': 0.77558,
  'JPY': 157.094163,
  'KES': 151.221926,
  'KGS': 95.428522,
  'KHR': 4482.278673,
  'KMF': 494.34085,
  'KPW': 983.827834,
  'KRW': 1430.541284,
  'KWD': 0.33616,
  'KYD': 0.905352,
  'KZT': 487.172911,
  'LAK': 20683.057098,
  'LBP': 16306.637772,
  'LKR': 334.621496,
  'LRD': 194.522938,
  'LSL': 20.496608,
  'LTL': 3.22773,
  'LVL': 0.661224,
  'LYD': 5.203002,
  'MAD': 10.820545,
  'MDL': 19.515505,
  'MGA': 4938.103623,
  'MKD': 61.586349,
  'MMK': 2281.423866,
  'MNT': 3769.227581,
  'MOP': 8.761535,
  'MRO': 390.247295,
  'MUR': 50.020791,
  'MVR': 16.790894,
  'MWK': 1105.475465,
  'MXN': 18.761289,
  'MYR': 5.112028,
  'MZN': 69.140898,
  'NAD': 20.496604,
  'NGN': 899.646535,
  'NIO': 39.734741,
  'NOK': 11.832592,
  'NPR': 142.49028,
  'NZD': 1.779618,
  'OMR': 0.419159,
  'PAB': 1.086383,
  'PEN': 3.942886,
  'PGK': 3.919495,
  'PHP': 60.958448,
  'PKR': 311.248671,
  'PLN': 4.453097,
  'PYG': 7911.961574,
  'QAR': 3.980129,
  'RON': 4.973091,
  'RSD': 117.196993,
  'RUB': 92.506186,
  'RWF': 1252.718919,
  'SAR': 4.099536,
  'SBD': 9.094891,
  'SCR': 15.345107,
  'SDG': 657.521839,
  'SEK': 11.617312,
  'SGD': 1.477749,
  'SHP': 1.330067,
  'SLE': 19.703539,
  'SLL': 21589.321936,
  'SOS': 621.448528,
  'SRD': 41.572876,
  'STD': 22625.58824,
  'SVC': 9.50535,
  'SYP': 2746.512003,
  'SZL': 20.28521,
  'THB': 38.533243,
  'TJS': 11.863344,
  'TMT': 3.825956,
  'TND': 3.378907,
  'TOP': 2.564706,
  'TRY': 27.631384,
  'TTD': 7.384164,
  'TWD': 33.890867,
  'TZS': 2601.900794,
  'UAH': 40.121792,
  'UGX': 3992.466775,
  'USD': 1.09313,
  'UYU': 41.044238,
  'UZS': 12460.214911,
  'VEF': 2995328.696593,
  'VES': 29.805152,
  'VND': 25715.888093,
  'VUV': 129.171848,
  'WST': 2.956537,
  'XAF': 655.70519,
  'XAG': 0.048788,
  'XAU': 0.000569,
  'XCD': 2.954239,
  'XDR': 0.810189,
  'XOF': 655.70519,
  'XPF': 120.299377,
  'YER': 273.665544,
  'ZAR': 20.491032,
  'ZMK': 9839.487532,
  'ZMW': 18.495897,
  'ZWL': 351.98748}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [6]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1687675263  EUR  2023-06-25     4.014963
AFN     True  1687675263  EUR  2023-06-25    93.254188
ALL     True  1687675263  EUR  2023-06-25   107.488721
AMD     True  1687675263  EUR  2023-06-25   420.038693
ANG     True  1687675263  EUR  2023-06-25     1.957948
..       ...         ...  ...         ...          ...
YER     True  1687675263  EUR  2023-06-25   273.665544
ZAR     True  1687675263  EUR  2023-06-25    20.491032
ZMK     True  1687675263  EUR  2023-06-25  9839.487532
ZMW     True  1687675263  EUR  2023-06-25    18.495897
ZWL     True  1687675263  EUR  2023-06-25   351.987480

[170 rows x 5 columns]

In [7]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     4.014963
AFN    93.254188
ALL   107.488721
AMD   420.038693
ANG     1.957948
..           ...
YER   273.665544
ZAR    20.491032
ZMK  9839.487532
ZMW    18.495897
ZWL   351.987480

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [24]:
# Save the DataFrame as a CSV file
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).